In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install PyMySQL

Requirement already satisfied: PyMySQL in /home/marinex/anaconda3/envs/ml/lib/python3.6/site-packages (1.0.2)

In [3]:
import pymysql

In [4]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in /home/marinex/anaconda3/envs/ml/lib/python3.6/site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in /home/marinex/anaconda3/envs/ml/lib/python3.6/site-packages (from SQLAlchemy) (1.1.0)
Requirement already satisfied: importlib-metadata in /home/marinex/anaconda3/envs/ml/lib/python3.6/site-packages (from SQLAlchemy) (4.6.1)
Requirement already satisfied: zipp>=0.5 in /home/marinex/anaconda3/envs/ml/lib/python3.6/site-packages (from importlib-metadata->SQLAlchemy) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/marinex/anaconda3/envs/ml/lib/python3.6/site-packages (from importlib-metadata->SQLAlchemy) (3.10.0.0)

In [5]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root1",
                               pw="password",
                               db="shopcart"))

In [10]:
user = pd.read_csv('user.csv')

In [11]:
user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6677 entries, 0 to 6676
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   6677 non-null   object
 1   email     6677 non-null   object
 2   name      6676 non-null   object
 3   password  6677 non-null   int64
dtypes: int64(1), object(3)
memory usage: 208.8+ KB

In [12]:
user.fillna('name',inplace=True)

In [13]:
user.to_sql('user', con = engine, if_exists = 'append', index= False)

In [14]:
product = pd.read_csv('product.csv')

In [15]:
product['name'].fillna('Unknown',inplace=True)

In [16]:
product['category'].replace(['Appliances', 'Amazon fasion', 'All Beauty', 'Cell Phones',
       'Grocery'],[2,1,4,3,5],inplace=True)

In [17]:
product.drop_duplicates('asin',inplace = True)

In [18]:
product.head()

,asin,brand_name,description,feature,name,price,stock,category,rating
0,B00009W3I4,HEARTLAND,Replace your old vent with the Heartland Natur...,EASY-TO-INSTALL Dryer vent closure with hassl...,HEARTLAND 21000 Energy Saving Dryer Vent Closure,36.20,100,2,5.000000
1,B00009W3PA,Certified Appliance Accessories,Some people are surprised to learn that a new ...,"250 volt,90 angle on 1 end, 3 preattached copp...",Certified Appliance Accessories 3-Wire Closed-...,15.26,100,2,5.000000
2,B0006GVNOA,LintEater,</>The most valuable tool you can own to ensur...,Most valuable tool you can own to ensure the s...,Gardus RLE202 LintEater Rotary Dryer Vent Clea...,29.09,100,2,4.500000
3,B0009GVYNW,Aprilaire,This genuine Aprilaire replacement water panel...,BUY WITH CONFIDENCE This genuine replacement w...,Aprilaire 35 Replacement Water Panel for April...,12.31,100,2,4.000000
4,B000N6302Q,NewAir,The NewAir AI-100S portable ice maker is a com...,"Convenient, compact design is ideal for use in...","NewAir AI-100S 28-Pound Portable Ice Maker, Si...",0.00,100,2,1.285714

In [21]:
product.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 390
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   asin         391 non-null    object
 1   brand_name   391 non-null    object
 2   description  391 non-null    object
 3   feature      391 non-null    object
 4   name         391 non-null    object
 5   price        391 non-null    float64
 6   stock        391 non-null    int64
 7   category     391 non-null    int64
 8   rating       391 non-null    float64
dtypes: float64(2), int64(2), object(5)
memory usage: 30.5+ KB

In [22]:
product.fillna(' ',inplace=True)

In [23]:
asin = []
index = []
for i,row in product.iterrows():
    if(len(row['feature'])>3000 or len(row['description'])>3000 or len(row['name'])>255 or len(row['brand_name'])>255):
        index.append(i)    
        asin.append(row['asin'])

In [24]:
len(asin)

54

In [25]:
product.drop(index, inplace = True)

In [31]:


product.to_sql('product', con = engine, if_exists = 'append', index= False)

In [34]:
review = pd.read_csv('review.csv')

In [35]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14275 entries, 0 to 14274
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rating    14275 non-null  float64
 1   product   14275 non-null  object
 2   user_id   14275 non-null  object
 3   category  14275 non-null  object
 4   review    14255 non-null  object
dtypes: float64(1), object(4)
memory usage: 557.7+ KB

In [36]:
review['category'].replace(['Appliances', 'Amazon fasion', 'All Beauty', 'Cell Phones',
       'Grocery'],[2,1,4,3,5],inplace=True)

In [37]:
review = review[review['product'].isin(product['asin']).values]

In [38]:
review = review.astype({'review':'str'})

In [39]:
asin = []
index = []
for i,row in review.iterrows():
    if(len(row['review'])>3000):
        index.append(i)

In [40]:
review.drop(index,inplace = True)

In [41]:
review.to_sql('review', con = engine, if_exists = 'append', index= False)

In [42]:
len(index)

38

In [43]:
image  = pd.read_csv('image.csv')

In [44]:
image = image[image['product'].isin(product['asin']).values]

In [45]:
image.to_sql('image_base', con = engine, if_exists = 'append', index= False)

In [46]:
image.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 0 to 1484
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   url      1238 non-null   object
 1   product  1238 non-null   object
dtypes: object(2)
memory usage: 29.0+ KB

In [48]:
image['product'].unique().shape

(223,)

In [54]:
image2 = pd.DataFrame()
image2['product'] = product[~product['asin'].isin(image['product']).values]['asin']

In [55]:
image2['url'] = 'https://images-na.ssl-images-amazon.com/images/I/31k%2BFbfTmbL.jpg'

In [56]:
image2

        product                                                url
5    B000NCTOUM  https://images-na.ssl-images-amazon.com/images...
6    B000VL060M  https://images-na.ssl-images-amazon.com/images...
10   B000XXWOGW  https://images-na.ssl-images-amazon.com/images...
11   B000XXYUSM  https://images-na.ssl-images-amazon.com/images...
14   B00147DFQ4  https://images-na.ssl-images-amazon.com/images...
..          ...                                                ...
360  B0000D9MT1  https://images-na.ssl-images-amazon.com/images...
361  B0000D9N8O  https://images-na.ssl-images-amazon.com/images...
362  B0000D9N63  https://images-na.ssl-images-amazon.com/images...
365  B0000DBN1O  https://images-na.ssl-images-amazon.com/images...
371  B0000DC2VN  https://images-na.ssl-images-amazon.com/images...

[114 rows x 2 columns]

In [57]:
image2.to_sql('image_base', con = engine, if_exists = 'append', index= False)